body
{
    background:rgb(245, 245, 245);
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(105, 105, 105);
}

img
{
    width: auto;
    height: 250px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label
{
  font-family: Tahoma, Geneva, sans-serif;
  font-weight:normal;
  font-size: 80%;
  color: rgb(100, 100, 100);
}

h1
{
    color: rgb(64, 64, 64);
    text-align: center;
}

.button
{
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
}

.button:hover
{
    background-color: rgb(200, 200, 250);
    text-align: center;
    margin: auto;
}

#left
{
  float: left;
  width: 50%;
  height: 700px;
  background:rgb(235, 235, 235);
}

#right
{
  float: right;
  width: 50%;
  height: 700px;
  background:rgb(245, 245, 245);
}

#imageHolder
{
  width: 20%;
  height: 20%;
}
