body
{
    background:rgb(245, 245, 245);
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(105, 105, 105);
}

img
{
    width: auto;
    height: 250px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: rgb(64, 64, 64);
    text-align: center;
}

h2
{
    color: rgb(211, 124, 89);
}

h3
{
    color: rgb(170, 86, 53);
}

a
{
    color: rgb(111, 123, 194);
}

ul
{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li a
{
    float: left;
    display: block;
    color:whitesmoke;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

li a:hover
{
    background-color: rgb(228, 200, 76);
    color: white;
}

.button
{
  background-color: rgb(200, 200, 200);
  text-align: center;
  margin: auto;
  width: 100px;
  padding: 15px;
}

.button:hover
{
  background-color: rgb(200, 200, 250);
  text-align: center;
  margin: auto;
  width: 100px;
  padding: 15px;
}
