body
{
    background:rgb(245, 245, 245);
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(105, 105, 105);
}

img
{
    width: auto;
    height: 250px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label
{
  font-family: Tahoma, Geneva, sans-serif;
  font-weight:normal;
  font-size: 80%;
  color: rgb(100, 100, 100);
}

h1
{
    color: rgb(64, 64, 64);
    text-align: center;
}

.button
{
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
}

.button:hover
{
    background-color: rgb(200, 200, 250);
    text-align: center;
    margin: auto;
}

#leftresults
{
  float: left;
  width: 50%;
  height: 700px;
  background:rgb(235, 235, 235);
}

#rightresults
{
  float: right;
  width: 50%;
  height: 700px;
  background:rgb(245, 245, 245);
}

#leftwelcome
{
  float: left;
  width: 50%;
  height: 450px;
  background:rgb(245, 245, 245);
  font-size: 120%;
  padding-top: 30px;
}

#rightwelcome
{
  float: right;
  width: 50%;
  height: 450px;
  background:rgb(245, 245, 245);
  font-size: 120%;
  padding-top: 30px;
}

#getstarted
{
  background-color: rgb(200, 200, 250);
  font-size: 180%;
}

#getstarted:hover
{
  background-color: rgb(150, 150, 200);
}

#imageHolder
{
  width: 20%;
  height: 20%;
}

.footerLinks ul {
    display: inline-block;
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
}

.footerLinks ul li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 10px;
    position: relative;
    right: 50%;
}

.footerLinks {
    font-family: Tahoma, Geneva, sans-serif;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  float: center;
}



#container{
  min-height: 100%;
  position: relative;
  height: 100%;
}

#body{
  padding: 10px;
  padding-bottom: 60px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
