<!DOCTYPE html>
<html lang="en">
<div id="container">
<head>
  <title>Welcome to SnapCap</title>
  <link rel="icon" href="../images/templogo.jpeg">
  <script type="text/javascript" src="../index.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div id="body">
<body>

  <div class="container-fluid">

      <!-- title and logo -->
      <h1 id="header">[ SnapCap ]</h1>
      <!-- <img src="images/templogo.jpeg" alt="logo"> -->



  </div>
  <h2 id="header"> About Us </h2>
  <p>
    We are four students studying computer science at the Claremont Colleges.
    SnapCap is an undergraduate software development project that we developed
    to add emotional intelligence and reflection to the caption creation process.
  </p>

  <div class="row">
    <div class="column">
      <img src="../images/cmc.jpg" alt="CMC" style="width:50%">
    </div>
    <div class="column">
      <img src="../images/hmc.png" alt="HMC" style="width:50%">
    </div>
    <div class="column">
      <img src="../images/scripps.png" alt="Scripps" style="width:50%">
    </div>
  </div>

</body>
</div>

<div id="footer">
  <footer>
    <div class="footerLinks">
        <ul>
          <!-- FILL IN w/ correct paths -->
          <li> <a href="../index.html"> Home </a> </li>
          <li> | </li>
          <li> <a href="start.html"> Get Started </a> </li>
          <li> | </li>
          <li> <a href="howitworks.html"> How it Works </a> </li>
          <li> | </li>
          <li> <a href="about.html"> About Us </a> </li>
        </ul>
      </div>
  </footer>
</div>
</div>
</html>
