<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to SnapCap</title>
  <link rel="icon" href="images/templogo.jpeg">
  <script type="text/javascript" src="../index.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

  <div class="container-fluid">

      <!-- title and logo -->
      <h1 id="header">[ SnapCap ]</h1>
      <img src="../images/templogo.jpeg" alt="logo">

      <br>

      <center>

        <!-- webcam capture functionality (not done with style yet) -->

        <!-- <div id="cam-container">
          <video autoplay="true" id="videoElement">

          </video>
            <script>
              var video = document.querySelector("#videoElement");

              if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                  console.log(stream);
                  video.srcObject = stream;
                })
                .catch(function (err0r) {
                  if(err0r.name === 'TrackStartError'){
                    console.log("track start error");
                    }
                  else {
                    console.log("Something went wrong!");
                    console.log(err0r.name + err0r.message);
                    }

                  });
                }
          </script>
        </div> -->


        <div class="no-display">

          <!-- uploading photo functionality -->
          <input id='file-input' class='no-display' type='file'
              name='file' accept='image/*' style="display: none;"
              onchange='showPicked(this)'>
        </div>

        <!-- upload photo button and label -->
        <button class="btn btn-default btn-file button" type="button"
              onclick="showPicker()">
            Upload photo
        </button>
        <div class='upload-label'>
           <label id='upload-label'>No file chosen</label>
       </div>

        <br>

        <!-- submit button, need to adjust to only "analyze" when there is input -->
        <div class="analyze">
          <button class="btn btn-default button" id = "analyze-button" onclick="analyze();">
              Submit
          </button>
        </div>

      </center>

    <!-- displaying the captured photo -->
    <div class="output">
      <img id="image-picked" class="no-display" height="200">
    </div>

  </div>
</body>

<div id="footer">
  <footer>
    <div class="footerLinks">
        <ul>
          <!-- FILL IN w/ correct paths -->
          <li> <a href="../index.html"> Home </a> </li>
          <li> | </li>
          <li> <a href="start.html"> Get Started </a> </li>
          <li> | </li>
          <li> <a href="howitworks.html"> How it Works </a> </li>
          <li> | </li>
          <li> <a href="about.html"> About Us </a> </li>
        </ul>
      </div>
  </footer>
</div>

</html>
